#about {
    position: relative;
    padding: 60px 0 160px;
    background: whitesmoke;

    .inner-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .content {
            width: 50%;

            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                margin: 0;
            }

            p {
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 300;
                margin: 40px 0 72px;
            }
        }

        .images {
            width: 50%;
            position: relative;
            z-index: 7;
            height: auto;
            margin: 0 0 20px;

            .top-right {
                position: absolute;

                width: 50%;
                top: 0;
                right: 10%;
                z-index: 4;
            }
        }
    }
}