$font: Chivo, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

//Colors
$blue: #0091ad;
$celeste: #9bf3f0;
$gunmetal: #022b3a;
$gainsboro: #ccdbdc;
$babypowder: #fcfcfc;

html,
body {
    font-family: font;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: $babypowder;
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;

    @media only screen and (max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }

    @media only screen and (max-width: 1280px) {
        width: 976px;
        min-width: 976px;
    }

    @media only screen and (max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }

    @media only screen and (max-width: 768px) {
        width: 415px;
        min-width: 415px;
    }

    @media only screen and (max-width: 415px) {
        width: 200px;
        min-width: 200px;
    }
}

//Header
header {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: $babypowder;

    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        .logo {
            a {
                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $gunmetal;
            }
        }

        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $gunmetal;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

//Banner
.banner {
    display: flex;
    align-items: center;
    background-color: $babypowder;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;

    .row {
        position: relative;

        .main-text {
            font-size: 5.8rem;
            text-transform: uppercase;
            letter-spacing: 30px;
            font-weight: 700;
            color: $babypowder;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            mix-blend-mode: hard-light;
            z-index: 9;
        }

        .main-image {
            width: 80%;
            margin: 0 auto;
            align-self: center;
            justify-self: center;
        }
    }
}

//About Me
#about {
    position: relative;
    padding: 60px 0 160px;
    background: whitesmoke;

    .inner-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .content {
            width: 50%;

            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                margin: 0;
            }

            p {
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 300;
                margin: 40px 0 72px;
            }
        }

        .images {
            width: 50%;
            position: relative;
            z-index: 7;
            height: auto;
            margin: 0 0 20px;

            .top-right {
                position: absolute;

                width: 50%;
                top: 0;
                right: 10%;
                z-index: 4;
            }
        }
    }
}

.skills {
    position: relative;
    .inner-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px 0;

        .skills-header {
            width: 40%;
            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
            }

            p {
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 300;
            }
        }
        
        .inner-text {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 20px 30px;
            background-color: $gainsboro;

            h4 {
                font-weight: 500;
                text-align: right;
                font-size: 1.5rem;
                letter-spacing: 1px;
                margin: 10px;
            }

            p {
                text-align: right;
                margin: 12px;
            }
        }
    }
}

//Projects
#projects {
    position: relative;
    padding: 48px;
    background: whitesmoke;

    .inner-text {
        margin: 0 auto;

        .content {
            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                margin: 10;
            }

            .projects-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: minmax(50px, auto);
                justify-self: center;
                align-self: center;
                grid-gap: 10px;
                max-width: 100%;
                margin: 10;

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    font-weight: 300;
                }

                .lalalime {
                    max-width: 80%;
                    align-self: center;
                    justify-self: center;

                    a {
                        text-decoration: underline;
                        color: $gunmetal;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .hive {
                    max-width: 80%;
                    align-self: center;
                    justify-self: center;

                    a {
                        text-decoration: underline;
                        color: $gunmetal;
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 415px) {
        .inner-text {
            margin: 0 auto;

            .content {
                h3 {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    letter-spacing: 1.5px;
                    margin: 10;
                }

                .projects-grid {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: minmax(50px, auto);
                    justify-self: left;
                    align-self: left;
                    grid-gap: 10px;
                    max-width: 100%;

                    p {
                        font-size: .75rem;
                        line-height: 1rem;
                        font-weight: 300;
                    }

                    .lalalime {
                        max-width: 80%;
                        align-self: left;
                        justify-self: left;

                        span {
                            font-weight: bold;
                        }
                    }

                    .hive {
                        max-width: 80%;
                        align-self: left;
                        justify-self: left;
                    }
                }
            }
        }
    }
}

//Contact
#contact {
    background-color: $babypowder;

    .inner-text {
        margin-bottom: 50px;
        padding: 10px;

        h3 {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.8rem;
            letter-spacing: 1.5px;
            margin: 10;
        }

        .content-container {
            display: grid;
            grid-template-columns: 1.25fr 0.75fr;
            grid-gap: 20px;

            .content {
                display: flex;
                flex-direction: column;

                h4 {
                    font-size: 1.5rem;
                    margin: 0 0 10px 0;
                    text-align: center;
                }

                .info {
                    flex-direction: column;
                    text-align: center;
                    .resume {
                        margin: 0.5em;

                        a {
                        color: $gunmetal;
                        opacity: 0.15;
                        text-decoration: none;
                        font-size: 1.5rem;
                        }

                        a:hover {
                            opacity: 1;
                        }
                    }
                    .linkedin {
                        margin: 0.5em;

                        a {
                        color: $gunmetal;
                        opacity: 0.15;
                        text-decoration: none;
                        font-size: 1.5rem;
                        }

                        a:hover {
                            opacity: 1;
                        }
                    }
                    .github {
                        margin: 0.5em;

                        a {
                        color: $gunmetal;
                        opacity: 0.15;
                        text-decoration: none;
                        font-size: 1.5rem;
                        }

                        a:hover {
                            opacity: 1;
                        }
                    }
                    
                }
            }
            .contact-form {
                flex-direction: column;
                justify-content: center;
                flex-grow: 2;
                margin: 0em 2em;
                width: 80%;

                h4 {
                    font-size: 1.5rem;
                    margin: 0 0 10px 0;
                    text-align: center;
                }

                form input {
                    margin: 0.75em 0;
                    font-size: 1rem;
                    border: $gunmetal solid 0.5px;
                }

                .name-email {
                    display: flex;
                    flex-direction: column;
                    
                }

                .input-message {
                    width: 80%;
                    height: 80px;
                }

                form label {
                    margin: 0 5% 0 0;
                }

                form button {
                    padding: 0.75em 1.25em;
                    background-color: #59A9C2;
                    color: white;
                    border: none;
                    font-size: 1em;
                    transition: all 1s ease;
                    outline: none;
                }

                form button:hover {
                    background-color: $blue;
                }
        }

        }

    }
}

#footer {
    background-color: whitesmoke;
    display: flex;
    
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        margin: 1%;
        
        .logo-grid {
            display: grid;
            grid-template-columns: repeat(2, 3%);

            .logo {
                vertical-align: text-top;
                max-width: 25px;
                opacity: 0.2;
            }
            .logo:hover {
                opacity: 1;
            }
        }
        
        .copyright {
            width: 50%;
            p {
                margin: 0;
                color: $gunmetal;
                size: 0.5rem;
                opacity: 0.15;
            }
        }
    }
}