$font: Chivo, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    
//Colors
$blue: #0091ad;
$celeste: #9bf3f0;
$gunmetal: #022b3a;
$gainsboro: #ccdbdc;
$babypowder: #fcfcfc;

html,
body {
    font-family: font;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: $babypowder;
}

//Header
header {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: $babypowder;

    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        margin: 0px 40px;

        .logo {
            a {
                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $gunmetal;
            }
        }

        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $gunmetal;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 415px) {
    header {
        position: absolute;
        .inner-header {
            max-width: 414px;
            margin: 20px 20px;
            display: flex;
            justify-content: space-between;
            .navigation {
                nav {
                    display: flex;
                    flex-direction: column;
                }
            }
            
        }
    } 
}

//Banner
.banner {
    display: flex;
    align-items: center;
    background-color: $babypowder;
    position: relative;
    margin: 100px 40px;
    min-width: inherit;

    .banner-container {
        width: 100%;

        .row {
            position: relative;

            .main-text {
                margin-left: 10px;
                font-size: 6rem;
                text-transform: uppercase;
                letter-spacing: 30px;
                font-weight: 700;
                color: $babypowder;
                position: absolute;
                width: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                mix-blend-mode: hard-light;
                z-index: 9;
            }

            .main-image {
                width: 80%;
                margin: 0 auto;
                align-self: center;
                justify-self: center;
            }
        }

        @media only screen and (max-width: 1024px) {
            .row {
                .main-text {
                    font-size: 5.8rem;
                    letter-spacing: 20px;
                }
                .main-image {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        @media only screen and (max-width: 768px) {
            .row {
                .main-text {
                    font-size: 4.2rem;
                    letter-spacing: 20px;
                }
                .main-image {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        @media only screen and (max-width: 415px) {
            margin-left: 0;
            .row {
                .main-text {
                    font-size: 1rem;
                    letter-spacing: 5px;
                }
                .main-image {
                    margin: 0;
                    width: 100%;
                }
            }
        }
    }
}

//About Me
#about {
    position: relative;
    padding: 60px 0 160px;
    @media only screen and (max-width: 415px) {
        padding: 60px 0px;
    }
    background: whitesmoke;

    .inner-text {
        margin: 0px 40px;
        @media only screen and (max-width: 415px) {
            margin: 0px 20px;
        }
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .content {
            width: 100%;
            @media only screen and (max-width: 415px) {
                width: 80%;
            }

            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                margin: 0;
            }

            p {
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 300;
                margin: 40px 0 72px;
            }
        }
    }
}

.tech {
    position: relative;
    .inner-tech {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 40px 40px;

        .tech-header {
            width: 100%;
            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
            }

            p {
                font-size: 1rem;
                line-height: 2rem;
                font-weight: 300;
            }
        }
        .inner-text {
            display: flex;
            flex-direction: column;
            
            .section-head {
                flex-direction: column;

                h4 {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.5rem;
                    margin: 10px 0px;
                    letter-spacing: 0.4px;
                    border-top: $gunmetal solid;
                }
                
                .tech-list {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    max-width: 100%;
                    margin: 0px 0px 30px 0px;
                    align-items: center;

                    .logo-container {
                        margin: 10px;
                        max-height: 50%;
                        max-width: 60%;
                        @media only screen and (max-width: 415px) {
                            max-height: 100%;
                            max-width: 100%;
                        }
                        
                    }
                }
            }
        }
    }
}

//Projects
#projects {
    position: relative;
    padding: 48px;
    background: whitesmoke;

    .inner-text {
        margin: 0 auto;

        .content {
            h3 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                margin: 10;
            }

            .projects-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: minmax(50px, auto);
                justify-self: center;
                align-self: center;
                grid-gap: 10px;
                max-width: 100%;
                margin: 10;

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    font-weight: 300;
                }

                .lalalime {
                    max-width: 80%;
                    align-self: center;
                    justify-self: center;

                    a {
                        text-decoration: underline;
                        color: $gunmetal;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .hive {
                    max-width: 80%;
                    align-self: center;
                    justify-self: center;

                    a {
                        text-decoration: underline;
                        color: $gunmetal;
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 415px) {
        .inner-text {
            margin: 0 auto;

            .content {
                h3 {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    letter-spacing: 1.5px;
                    margin: 10;
                }

                .projects-grid {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: minmax(50px, auto);
                    justify-self: left;
                    align-self: left;
                    grid-gap: 10px;
                    max-width: 100%;

                    p {
                        font-size: .75rem;
                        line-height: 1rem;
                        font-weight: 300;
                    }

                    .lalalime {
                        max-width: 80%;
                        align-self: left;
                        justify-self: left;

                        span {
                            font-weight: bold;
                        }
                    }
                    .hive {
                        max-width: 80%;
                        align-self: left;
                        justify-self: left;

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}


//Contact
#contact {
    background-color: $babypowder;

    .inner-text {
        margin: 0px 40px 50px 40px;
        @media only screen and (max-width: 415px) {
            margin: 0px 20px;
        }
        padding: 10px;
        width: 90%;

        h3 {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.8rem;
            letter-spacing: 1.5px;
            margin: 10;
        }

        .content-container {
            display: grid;
            grid-template-columns: 1.25fr 0.75fr;
            @media only screen and (max-width: 415px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 0px;
                width: 85%;
            }
            grid-gap: 20px;

            .content {
                display: flex;
                flex-direction: column;

                h4 {
                    font-size: 1.5rem;
                    margin: 0 0 10px 0;
                    text-align: center;
                }

                .info {
                    flex-direction: column;
                    text-align: center;
                    
                    .resume {
                        margin: 0.5em;

                        a {
                            color: $gunmetal;
                            opacity: 0.15;
                            text-decoration: none;
                            font-size: 1.5rem;
                        }

                        a:hover {
                            opacity: 1;
                        }
                    }
                    .linkedin {
                        margin: 0.5em;

                        a {
                        color: $gunmetal;
                        opacity: 0.15;
                        text-decoration: none;
                        font-size: 1.5rem;
                        }

                        a:hover {
                            opacity: 1;
                        }
                    }
                    .github {
                        margin: 0.5em;

                        a {
                        color: $gunmetal;
                        opacity: 0.15;
                        text-decoration: none;
                        font-size: 1.5rem;
                        }

                        a:hover {
                            opacity: 1;
                        }
                    }
                    
                }
            }
            .contact-form {
                flex-direction: column;
                justify-content: center;
                flex-grow: 2;
                margin: 0rem 2rem;
                @media only screen and (max-width: 415px) {
                    margin: 0 0.5em;
                }
                width: 80%;

                form input {
                    margin: 0.75em 0;
                    font-size: 1rem;
                    border: $gunmetal solid 0.5px;
                }

                p {
                    display: none;
                }

                .name-email {
                    display: flex;
                    flex-direction: column;
                    
                    .input-name {
                        width: 80%;
                        height: 20px;
                        margin-left: 18px;
                        @media only screen and (max-width: 562px) {
                            margin-left: auto;
                        }
                    }
                    .input-email {
                        width: 80%;
                        height: 20px;
                        margin-left: 18px;
                        @media only screen and (max-width: 562px) {
                            margin-left: auto;
                        }
                    }
                }

                .input-message {
                    width: 80%;
                    height: 80px;
                    margin-left: auto;
                }

                form label {
                    margin: 0 5% 0 0;
                }

                form button {
                    padding: 0.75rem 1.25rem;
                    font-size: 1rem;
                    @media only screen and (max-width: 415px) {
                        padding: 0.75rem;
                        font-size: 0.83em;
                    }
                    background-color: #59A9C2;
                    color: white;
                    border: none;
                    
                    transition: all 1s ease;
                    outline: none;
                }

                form button:hover {
                    background-color: $blue;
                }
            }
        }
    }
}

#footer {
    background-color: whitesmoke;
    display: flex;
    
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        margin: 1%;
        margin-left: 40px;
        margin-right: 40px;
        @media only screen and (max-width: 415px) {
            margin-left: 20px;
            margin-right: 20px;
        }
        
        .logo-container {
            .logo-grid {
                display: grid;
                grid-template-columns: repeat(2, 15%);

                .logo {
                    vertical-align: text-top;
                    max-width: 25px;
                    opacity: 0.2;
                }
                .logo:hover {
                    opacity: 1;
                }
            }
        }

        .copyright {
            width: 100%;
            p {
                margin: 0;
                color: $gunmetal;
                size: 0.5rem;
                opacity: 0.15;
            }
        }
    }
}
